<script src="../public/js/home.js"></script>
<div class="container my-5">
  <div class="jumbotron">
    <h1 class="display-4 text-center">Welcome to Dev Confluence</h1>
    <p class="lead text-center">Explore | Attend | Review</p>
    <hr class="my-4">
  </div>
</div>