html {
  height: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  font-size: 17px !important;
  font-family: monospace !important;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.card {
  padding: 20px;
  margin-top: 50px;
}

button[type="submit"] {
  margin-bottom: 10px;
}

.divider {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ddd;
}

.divider span {
  color: #999;
  font-size: 14px;
  margin: 0 10px;
}

.profile-picture-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.edit-form-buttons {
  display: none;
}

.custom-text-white {
  color: white !important;
}


/* CSS for creating the event */

.spacer{
  margin:10px;
  display: flex;
  align-items: center;
  width: 70%;
  /* max-width: 60%; */
  padding:20px;
  
}

.imageCSS{
  margin-left: 30px;
}

/* for the input field Create event in create event */
#eventTitle{
  border-top: none;
  border-left:none;
  border-right:none;
  font-size: 30px;
}


/* for the buttons back and forward */
.back{
  margin-top:10px;
  display: flex;
  border: None;
  justify-content: center;
  border-radius: 50%;
  background-color: #E36D6D;
  height: 50px;
  width: 50px;
  color: white;
  align-content: space-around;
  flex-wrap: wrap;
}

.forward{
  margin-top:10px;
  display: flex;
  border: None;
  justify-content: center;
  border-radius: 50%;
  background-color: #639681;
  height: 50px;
  width: 50px;
  color: white;
  align-content: space-around;
  flex-wrap: wrap;
}

/* centerify to center the flex elements */
.centerify{
  display: flex;
  justify-content: center;
}

.m-hr {
  margin-left: 20px;
  margin-right: 20px;
}

.login-form-container {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.tech-theme-image {
  height: 400px;
  width: 400px;
  margin-left: 5%;
  margin-top: 60px;
}

.custom-nav {
  
}

.custom-nav-item {
  min-width: 80px;
  text-align: center;
}

.card-no-border {
  border: none;
}
.event-comment-center{
  display: flex;
  justify-content: space-between;
}
.event-who-attend{
  color: #ffff;
  background-color: #639681;
  padding:30px;
  border-radius: 30px;
}
.category-tag{
  background-color: rgb(79 80 81);
  color: white;
  padding:5px 20px 5px 20px;
  border-radius: 30px;
  margin:0px 5px 0px 5px;
}
.event-tag-holder{
  display: flex;
  margin: 10px 0px 10px 0px;
}
